<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookShelter - Inicio</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link th:href="@{/css/cover.css}" rel="stylesheet"/>
  </head>
  <body class="d-flex h-100 text-center text-white bg">

  <div class="container-fluid d-flex flex-column" >
    <div th:replace="fragments/header.html" :: header xmlns:th="http://www.w3.org/1999/xhtml"></div>

    <main class="py-5 mb-auto mt-auto">
      <h1>BookShelter</h1>
      <p class="lead">Todos los libros que se te ocurran. Aquí.</p>
      <p sec:authorize="!isAuthenticated()" class="lead">
        <a th:href="@{'/register-user'}" class="btn btn-lg btn-primary fw-bold border-white">Registrate</a>
        <a th:href="@{'/login'}" class="btn btn-lg btn-secondary fw-bold border-white">Inicia sesión</a>
      </p>
      <p sec:authorize="isAuthenticated()" class="lead">
        <a th:href="@{'/catalog'}" class="btn btn-lg btn-primary fw-bold border-white">Entrar</a>
      </p>
    </main>

    <div th:replace="fragments/footer.html" :: footer xmlns:th="http://www.w3.org/1999/xhtml"></div>
  </div>

